{% extends "checkTemplate.html"%}
{% load staticfiles %}

{% block content %}

    <div class="container">
        <h2 align="center">Calculate Student Level By Fuzzy Logic Controller</h2>
        <div class="span-20 prepend-2 append-2 last">
            <div class="tips">
                <p>Your inputs have to separate by a <span class="tipskeys">,</span> sign.</p>
                <p>Your inputs order : <span class="tipskeys">Mark</span>,<span class="tipskeys">Study</span>,<span class="tipskeys">Hardness</span>,<span class="tipskeys">SystemicMark</span></p>
            </div>
        </div>
        <div class="span-20 prepend-2 append-2 last">
            <form action="/calculate/" method="post">
              <div class="input">
                <label for="mark">mark: </label>
                <input id="mark" type="text" name="mark" value="{{ mark }}">
              </div>
              <div class="input">
                <label for="study">study: </label>
                <input id="study" type="text" name="study" value="{{ study }}">
              </div>
              <div class="input">
                <label for="hardness">hardness: </label>
                <input id="hardness" type="text" name="hardness" value="{{ hardness }}">
              </div>
              <div class="input">
                <label for="sysmark">systemic mark: </label>
                <input id="sysmark" type="text" name="sysmark" value="{{ sysmark }}">
              </div>
              <div class="input">
                <input type="submit" value="Calculate">
              </div>
            </form>
        </div>
        {% if resault %}
        <div class="span-20 prepend-2 append-2 last" style="margin-top:15px;font-family:helvetica;font-size:2em">
        <h1 style="font-size:1em">resault :</h1>
          {{resault}}
        </div>
        {% endif %}
    </div>


{% endblock %}

