{% extends "dashboadTemplate.html"%}
{% load staticfiles %}
{% block content %}
<!-- header logo: style can be found in header.less -->
<div class="row" style="text-align:center">
	<div>
		<div class="col-md-12">
			<div class="panel">
				<header class="panel-heading">پیشخوان</header>
				<div class="panel-body">
					<div class="col-md-1"></div>
					<div class="col-md-10 alert alert-info" style="font-size:2em">
						<p>جهت دریافت تمارین متناسب با سطح شما می بایست ابتدا نمرات و مطالعات خودتان را در سیستم ثبت نمایید سپس پس از دادن آزمون آنلاین می توانید تمارین را دریافت کنید.</p>	
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ./wrapper -->
{% endblock %}