{% extends "dashboadTemplate.html"%}
{% load staticfiles %}
{% block content %}
<!-- header logo: style can be found in header.less -->
<div class="row" style="text-align:center">
	<div>
		<div class="col-md-12">
			<div class="panel">
				<header class="panel-heading">آزمون آنلاین</header>
				<div class="panel-body">
					<div class="col-md-1"></div>
					<div class="col-md-10">
						<div class="col-md-12">
							<div class="col-md-4">
								<a href="/onlineTest/hesaban/"><button type="button" class="btn btn-default">حسابان</button></a>
							</div>
							<div class="col-md-4">
								<a href="/onlineTest/fizic/"><button type="button" class="btn btn-default">فیزیک</button></a>
								</div>
							<div class="col-md-4">
								<a href="/onlineTest/shimi/"><button type="button" class="btn btn-default">شیمی</button></a>
							</div>
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% if request.get_full_path == "/onlineTest/" %}
<div class="row" style="text-align:center">
	<div class="col-md-12">
		<div class="panel">
			<header class="panel-heading">جدول نمرات آزمون آنلاین</header>
			<div class="panel-body">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td>درس / شماره</td>
							{% for counter in counters %}
								<td>{{ forloop.counter }}</td>
							{% endfor %}
						</tr>
						<tr>
							<td>حسابان</td>
							{% for hesaban in hesabans %}
								<td>{{ hesaban.hesaban }}</td>
							{% endfor %}
						</tr>
						<tr>
							<td>فیزیک</td>
							{% for fizic in fizics %}
								<td>{{ fizic.fizic }}</td>
							{% endfor %}
						</tr>
						<tr>
							<td>شیمی</td>
							{% for shimi in shimies %}
								<td>{{ shimi.shimi }}</td>
							{% endfor %}
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% if request.get_full_path != "/onlineTest/" %}
<div class="row" style="text-align:center">
	<div class="col-md-12">
		<div class="panel">
			<header class="panel-heading">سوالات آزمون آنلاین</header>
			<div class="panel-body">
				<form method="post" action="/onlineTest/{{ lesson }}/check/">
					{% for question in questions %}
						<div class="question">
							<div>
								<p>{{ question.title }}</p>
							</div>
							<div>
								<img src="{{ question.content }}" />
							</div>
							<div>
								<label class="question-option">
	                            	<input name="{{question.id}}" id="optionsRadios2" value="1" type="radio">{{question.answer1}}
	                            </label>
	                            <label class="question-option">
	                            	<input name="{{question.id}}" id="optionsRadios2" value="2" type="radio">{{question.answer2}}
	                            </label>
	                            <label class="question-option">
	                            	<input name="{{question.id}}" id="optionsRadios2" value="3" type="radio">{{question.answer3}}
	                            </label>
	                            <label class="question-option">
	                            	<input name="{{question.id}}" id="optionsRadios2" value="4" type="radio">{{question.answer4}}
	                            </label>
                            </div>
						</div>
					{% endfor %}
					<div style="margin-top:15px;">
						<input type="submit" value="ارسال">	
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endif %}

{{resault}}
<!-- ./wrapper -->
{% endblock %}