{% extends "dashboadTemplate.html"%}
{% load staticfiles %}
{% block content %}
<!-- header logo: style can be found in header.less -->
<div class="row" style="text-align:center">
	<div>
		<div class="col-md-12">
			<div class="panel">
				<header class="panel-heading">دریافت تمارین</header>
				<div class="panel-body">
					<div class="col-md-1"></div>
					<div class="col-md-10">
						<div class="col-md-12">
							<div class="col-md-4">
								<a href="/practice/hesaban/"><button type="button" class="btn btn-default">حسابان</button></a>
							</div>
							<div class="col-md-4">
								<a href="/practice/fizic/"><button type="button" class="btn btn-default">فیزیک</button></a>
								</div>
							<div class="col-md-4">
								<a href="/practice/shimi/"><button type="button" class="btn btn-default">شیمی</button></a>
							</div>
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% if request.get_full_path == "/onlineTest/" %}
<div class="row" style="text-align:center">
	<div class="col-md-12">
		<div class="panel">
			<header class="panel-heading">جدول نمرات آزمون آنلاین</header>
			<div class="panel-body">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td>درس / شماره</td>
							{% for sysmark in sysmarks %}
								<td>{{ forloop.counter }}</td>
							{% endfor %}
						</tr>
						<tr>
							<td>حسابان</td>
							{% for sysmark in sysmarks %}
								<td>{{ sysmark.hesaban }}</td>
							{% endfor %}
						</tr>
						<tr>
							<td>فیزیک</td>
							{% for sysmark in sysmarks %}
								<td>{{ sysmark.fizic }}</td>
							{% endfor %}
						</tr>
						<tr>
							<td>شیمی</td>
							{% for sysmark in sysmarks %}
								<td>{{ sysmark.shimi }}</td>
							{% endfor %}
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% if request.get_full_path != "/practice/" %}
<div class="row" style="text-align:center">
	<div class="col-md-12">
		<div class="panel">
			<header class="panel-heading">سوالات آزمون آنلاین</header>
			<div class="panel-body">
				<div>
					{% for practice in practices %}
						<div class="question">
							<div>
								<p>{{ practice.title }}</p>
							</div>
							<div>
								<img src="{{ practice.content }}" />
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
<!-- ./wrapper -->
{% endblock %}