<!DOCTYPE html>
<html>
<head>
	<title>ya ali</title>
</head>
<body>
	<p>{{data}}</p>
	<p>Query dict</p>
	<p>{{ all }}</p>
	<p>number of inputs, outputs and rules</p>
	<p>{{ json }}</p>
	<p>{{ inputnums }}</p>
	<p>{{ outputnums }}</p>
	<p>{{ rulenums }}</p>
	<p>list of iterable inputs and outputs</p>
	<p>{{ inputnumslist }}</p>
	<p>{{ outputnumslist }}</p>
	<p>rules</p>
	<p>{{ ruleStatements }}</p>
	<p>membership functions main attribute</p>
	<p>{{ inputName }}</p>
	<p>{{ outputName }}</p>
	<p>{{ inputRange }}</p>
	<p>{{ outputRange }}</p>
	<p>{{ inputMems }}</p>
	<p>{{ outputMems }}</p>
</body>
</html>